.offscreen {
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    padding: 0 !important;
    position: absolute !important
}